@import 'base/_variable.scss';
@import 'base/_base.scss';
@import 'module/_headerslider.scss';
@import 'module/_doctor.scss';
@import 'module/_heroslider.scss';
@import 'module/_bootstrapcard.scss';
@import 'module/_clinics.scss';