body{
	background-color: $primary-color !important;
}

.heading{
	color: white !important;
}

.section-padding{
	padding: $section-padding;
}

.section-title{
	padding: $section-title;
	font-family: $heading-font;
	&--size{
		font-size: 5.8em;
		text-shadow: 0px 0px 4px $secondary-color;
	}
}